@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-container {
  background-color: white;
  display: flex;
  flex: 1;
  padding: 1rem;
  margin-left: 1rem;
}

.dashboard-title {
  color: rgb(81, 81, 81);
  font-weight: 700;
  font-size: 2rem;
}

.layout {
  background-color: #efefef;
  display: flex;
  height: 100vh;
  padding: 1rem;
}

.checkerboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
}

.square {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 75px;
}

.black-square {
  background-color: #418794;
  color: #fff;
}

.white-square {
  background-color: #fff;
  color: #418794;
}

.status-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.reset-btn {
  background-color: #c12a90;
  border-radius: 4px;
  font-weight: 600;
  padding: 0.5rem;
}
